body {
    height: 55px;
    background-color: red;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.col-lg-4{
    /*background-color: whitesmoke;*/
    height: 600px;
    background-color: red;
    background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
}

p {
    color: white;
}

.jumbotron {
    background-image: url("../images/red-background.jpg");
}

