html {

    color: yellow;
    box-shadow: 5px 10px aqua;
}

#trex:hover {
    width: 500px;
}

#trex {
    position: relative;
    animation-name: jump;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: width 2s;
}

@keyframes jump {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 200px;
        top: -1000px;
    }
    50% {
        left: 400px;
        top: 0px;
    }
    75% {
        left: 200px;
        top: -700px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

#git {
    width: 200px;
    height: auto;
}

body {

    background-image: url("/images/red-background.jpg");
}

table {
    box-shadow: 5px 10px aqua;
    background-image: linear-gradient(to right, chocolate, purple);
}
td{
    border: 2px solid chartreuse;
}
.para {
    border-style: dashed dotted solid double;
    border-color: chartreuse;
    color: whitesmoke;
}

.cs {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("/images/border_1.png") 30 round;
}